.footer {
    background: var(--primary);
    padding: 25px 32px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 40px;
}

.textWhite {
    color: var(--white);
}

@media (max-width: 765px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
